configuration {
	display-drun: "Application:";
	display-window: "Windows:";
	drun-display-format: "{icon} {name}";
	modes: [ combi ];
	combi-modes: [ window, drun ];
	font: "JetBrainsMono Nerd Font Mono 13";
	show-icons: true;
	icon-theme: "Papirus";
}

@theme "spotlight-dark"

element {
	orientation: horizontal;
	children: [ element-icon, element-text ];
}

element-icon {
	size: 2em;
	cursor: pointer; 
}

element-text {
	cursor: pointer;
}

